<template>
  <div class="wrap">
    <h2>index</h2>
  </div>
</template>

<style scoped>
  .wrap {
    padding: 0 10px;
  }
</style>

<script>
  import index from './../components/index.vue';
  export default {
    components: {
      index
    },
  }
</script>
