<template>
  <div class="wrap linkC">
    <h2>linkC</h2>
  </div>
</template>

<style scoped>
  .wrap {
    padding: 0 10px;
  }
</style>

<script>
  import linkC from './../components/linkC.vue';
  export default {
    components: {
      linkC
    },
  }
</script>
