<template>
  <div class="wrap linkA">
    <h2>linkA</h2>
  </div>
</template>

<style scoped>
  .wrap {
    padding: 0 10px;
  }
</style>

<script>
  import linkA from './../components/linkA.vue';
  export default {
    components: {
      linkA
    },
  }
</script>
