<template>
  <div class="wrap linkB">
    <h2>linkB</h2>
  </div>
</template>

<style scoped>
  .wrap {
    padding: 0 10px;
  }
</style>

<script>
  import linkB from './../components/linkB.vue';
  export default {
    components: {
      linkB
    },
  }
</script>
